# Dependencies
node_modules

# Build output
build
dist

# Tests
coverage

# Log output
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Os meta files
.DS_Store

# Development
docker-compose.override.yaml
.env
.env.*
!.env.template

*.ejs
