[package]
name = "controller"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cs2 = { path = "../cs2" } 
cs2-schema = { path = "../schema" } 
kinterface = { path = "../kinterface"}
overlay = { path = "../overlay"}
anyhow = "1.0.72"
log = "0.4.19"
env_logger = "0.10.0"
serde = { version = "1.0.178", features = ["derive"] }
serde_json = "1.0.104"
imgui = "0.11"
obfstr = "0.4.3"
nalgebra = "0.32.3"
mint = "0.5.9"
clap = { version = "4.3.19", features = ["derive"] }
serde_yaml = "0.9.25"
windows = { version = "0.48.0", features = ["Win32_System_Console"] }

[build-dependencies]
winres = "0.1"
