[package]
name = "controller"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.72"
valthrun-kinterface = { path = "../kinterface"}
cs2-schema = { path = "../schema" }
log = "0.4.19"
env_logger = "0.10.0" 
serde = { version = "1.0.178", features = ["derive"] }
serde_json = "1.0.104"
